

@keyframes heli {
    0% {rotate: 0deg;}
    10% {rotate: 2deg;}
    20% {rotate: 4deg;}
    30% {rotate: 6deg;}
    40% { rotate: 4deg;}
    50% {rotate: 2deg;}
    60% {rotate: 0deg;}
    70% {rotate: -2deg;}
    80% {rotate: -4deg;}
    90% {rotate: -2deg;}
    100% {rotate: 0deg;}
    
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
/*.grid-container:first-child:hover{
    animation-name: heli;
    animation-duration: 1s;
    animation-delay: 20ms;
    animation-iteration-count: 20;
    z-index: 1010000;
}*/

.grid-container {
  opacity: 85%;
  display: grid  ;
  color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  gap: 8px;
  border: none;
  direction: row;
  grid-template-columns: 30vw 30vw 30vw;
  position: absolute;
  top: 1vh;
  left: 1vw;
  justify-content: space-between;
  column-fill: balance;
  height: 100%;
  width: 95%;
  margin-top: 28px;
  margin-left: 21px;
  
}
.grid-item {
    background-color: rgb(128, 220, 250);
    margin-left: 0;
    padding-left: 0%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding: 12px;
    border-radius: 20px;
}

.grid-item:first-child{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 26px;
    font-weight: 900;
    text-align: center;
}


@media only screen and (max-width: 650px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
       
    }
    .grid-item:first-child{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        
    }
    
}
.grid-item:hover {
    box-shadow: 20px rgb(174, 68, 174);
    border: solid 1px violet;
    transition-delay: 16ms;
    cursor: pointer;
    width: calc(width + 1vw); 
    height: calc(hight + 1vh); 
    z-index: 1;
    background-color: rgb(3, 26, 19);
    float: left;
    color: rgb(239, 206, 162);
    border-radius: 40px;
    animation-name: heli;
    animation-duration: 1s;
    animation-delay: 20ms;
    animation-iteration-count: 20;
    z-index: 1010000;
}
.solar-system {
    margin-top: 120vh;
}
   