@keyframes colors {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}
.header {
    display: flex;
    flex-direction: row;  
    background-color: rgb(148, 179, 179);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0%;
    z-index: 9;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 0px violet;
    border: none;
    column-gap: 10px;
    
    
    
}
.side-bar {
    display: flex;
    flex-direction: column;  
    background-color: rgb(148, 179, 179);
    width: 40px;
    position: fixed;
    top: 50px;
    left: 0%;
    bottom: 0%;
    margin-right: 1px;
    height: 95vh;
    margin: 0%;
    z-index: 10;
    justify-content: flex-start;
    flex-wrap: nowrap;
    
  }

  .side-bar:hover {
    width: 60px;

  }
  

.header-left img {
    box-sizing: border-box;
    block-size: 50px;
    position: fixed;
    left: 5px;
    top: -10px;
    margin-right: 15px;
    height: 65px;
    width: 90px;




}

.header-middle input{
    
    width: 30%;
    position: fixed;
    top: 18px;
    left: 28vw;
    border-radius: 5px;
    border: none;  
    border: solid 1px rgb(87, 113, 124);
    margin-right: 50px;

}
.header-right{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    block-size: 50px;
    position: fixed;
    right: 10vw;
    top: 5px;
}
.header-right img {
   position: relative;
    top: 10px;
    left: 0px;
    margin-right: 15px;
    border-radius: 50px;
    width: 25px;
    height: 25px;
}

.header-right img:hover{
    animation-name: colors;
    animation-delay: 1ms;
    animation-duration: 4s;
    animation-iteration-count: 20000;
}
h1 {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8); }
  
  h1 span, #navbar h1 a {
    display: inline;
    position: relative;
    padding: 0;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5); }
  
  
